.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}


.benefit__image {
    display: flex;
    justify-content: center;

    @include phones {
        margin-right: 3%;
    }

}

.benefit__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(128px);
    height: rem(128px);
    border-radius: 50%;
    background: #F2F5F4;
    overflow: hidden;
    margin-bottom: rem(10px);
}



.benefit__icon-battery {
    height: rem(60px);
    width: rem(32px);
}

.benefit__title {
    font-size: rem(24px);
    font-weight: 700;
    color: $black;
    margin-bottom: rem(4px);
}