.btn {
    background: $red;
    font-size: rem(16px);
    font-weight: 700;
    padding: rem(18px) rem(41px);
    text-transform: uppercase;
    line-height: 1;
    border-radius: rem(100px);
    text-decoration: none;
    color: $white;
    border:none;


    &:hover {
        background: #b31931;
    }

    
    &--transparent{
        background: none;
        text-transform: none;

        &:hover {
            color:$red;
            background: none;
        }
    }
}


