.characteristics {
    display: flex;
    flex-direction: column;

    @include tablets {
        align-items: center;
    }
}

.characteristics__list {
    display: flex;
    margin-bottom: rem(24px);
}

.characteristics__item {
    width: rem(163px);
    height: rem(60px);
    display: flex;
    flex-direction: column;
   justify-content: center;
   margin-right: rem(13px);

   &:last-child {
       margin-right: 0;
   }
}

.characteristics__desc {
font-size: rem(18px);
font-weight: 700;
color: $black;
}

.price {
    font-size: rem(36px);
    color: $black;
}