.contacts {
    text-decoration: none;
    font-style: normal;
    color: $black;
    font-size: rem(18px);

    @include phones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: rem(13px);
    }
}

.contacts__street {
    @include phones {
        margin-bottom: rem(10px);
    }
}

