.feature {
    display: flex;
    align-items: center;
}

.feature__icon {
    width: rem(48px);
    margin-right: rem(12px);
}

.feature__text {
    font-size: rem(16px);
    max-width: rem(114px);
}