.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 19%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(27px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }

}

.form__row {
    display: flex;
    margin-bottom: rem(36px);
}
.form__block {
    flex:1;
    margin-right: rem(17px);

    &:last-child{
        margin-right: 0;
    }
}

.form__input{
    width: 100%;
    border:none;
    padding: rem(18px) rem(12px);
    border: rem(3px) solid transparent;
    border-radius: rem(5px);

    &:focus {
        border-color: #E01F3D;
        outline: none;
    }

    &--textarea {
        height: rem(178px);
        resize: none;
    }
}

.form__control{
    padding-top: rem(17px);
    margin-bottom: rem(50px);
}

.form__controls {
    display: flex;
    flex-wrap: wrap;

    @include phones {
        justify-content: center;
    }
}

.form__controls--radio {
    margin-bottom: rem(18px);
}

.form__btns {
    @include tablets {
        display: flex;
        justify-content: center;
    }
}