.header {
    position: absolute;
    top: 0;
    width:100%;
    padding-top: rem(24px);
    padding-bottom: rem(24px);    
}

.header__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $black;
    font-size: rem(18px);   
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}


.menu {
    margin: 0 10px;
    @include tablets{
        display: none;
    }
    padding-top: 5px;
}


.menu__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.menu__item {
    margin-right: rem(27px);
  &:last-child {
      margin-right: 0;
  }
  margin-bottom: 10px;
}

.menu__link {
    text-decoration: none;
    white-space: nowrap;
}

.phone-number {
    text-decoration: none;
    display:flex;
    align-items: center;
    white-space: nowrap;
    padding-top: 5px;
}

.phone-number__icon-elem {
    width: rem(13.93px);
    height: rem(13.78px);
    margin-right: rem(6px);
    flex-shrink: 0;
}