.header {
    position: absolute;
    top: 0;
    width:100%;
    padding-top: rem(24px);
    padding-bottom: rem(24px);    
}

.header__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: $black;
    font-size: rem(18px);   
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone-number {
    text-decoration: none;
    display:flex;
    align-items: center;
    padding-top: 5px;
}

.phone-number__text {
    white-space: nowrap;
}

.phone-number__icon {
    flex-shrink:0;
}

.phone-number__icon-elem {
    width: rem(13.93px);
    height: rem(13.78px);
    margin-right: rem(6px);
}