.hero {
    background-color: #F5F5F5;
    height: 100vh;
    min-height: 650px;
    color: $black;
    position: relative;
    
    &:after {
        bottom: -27px;
        right: 10%;
        content: url("../img/rectangle.png");
        position: absolute
    }
}

.hero__container {
display: flex;
align-items: center;

height: 100%;
}

.hero__content {
display: flex;
flex-direction: column;
justify-content: space-between;
}

.hero__title-section {
    width: 77%;
    margin-bottom: 80px;
}

.hero__main-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.hero__title-description {
    font-size: 21px;
    margin-bottom: 36px;

}

.hero__img {
    margin-left: -40px;
}

