.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11000;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background: #313131;
}

.modal__container {
    background: #fff;
    padding: rem(37px) rem(53px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    max-width: rem(309px);
    height: rem(190px);
    top:35%;
    left:40%;
}

.modal__message {
    text-align: center;
    margin-bottom: rem(30px);
}

.modal__content {
    margin-bottom: rem(28px);
    color: #000;
}

.error-modal {
    color: red;
}

.modal.openModal{
    display: block;
}