.products-menu-section {
    background: url("../img/horizontalMenu.png") center center/cover no-repeat;
    position: relative;
    color: white;
}

.products-menu-section__title {
    color: white;
    left: 10%;
    top: 10%;
    position: absolute;
}

.products-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    z-index: 1;
}

.products-menu__item {
    display: flex;
}

.products-menu__title {
    position: relative;
    width: rem(100px);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.products-menu__text {
    white-space: nowrap;
    font-size: rem(36px);
    writing-mode: tb-rl;
    transform: rotate(180deg);
    padding-top: rem(34px);
}


.products-menu__content {
    background: #333537E5;
    position: relative;
    overflow: hidden;
    width: 0;
    transition: width .7s;
}

.products-menu__container {
    padding: rem(31px) rem(53px) rem(31px) rem(38px);
}

.products-menu__close {
    position: absolute;
    top: rem(20px);
    right: rem(25px);
    border: none;
    background: transparent;
}