.slider-section {
    background-color:  #F8FAF9;
}

.slider {
    width: 100%;
    position: relative;
}

.slider__arrow {
    position: absolute;
    top: 45%;
}

.slider__arrow--prev {
    position: absolute;
    left: 0;
}

.slider__arrow--next {
position: absolute;
    right: 0;
}

.slider__content{
    display: flex;
    align-items: center;
    width: 100%;
   
}

.slider__image {
    margin-right: rem(59px);
    margin-left: rem(33px);
}

.slider__menu {
    margin-bottom: rem(25px);

    display: flex;
}

.slider__information {
    display: flex;
    flex-direction: column;
}

.slider__headline {
margin-bottom: rem(20px);

}

.slider__headline-title {
    text-transform: uppercase;
    font-size: rem(36px);
    font-weight: 700;
    line-height: 1.1;
    color: $black;
    margin-bottom: rem(24px);
}




